table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px;
    padding: 8px;
    text-align: left;
}

th {
    background-color: darkgray;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin:20px ;
    padding: 20px;
    border: 1px solid;
}